*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select:none;
    user-select: none;
}

.container{
    display: flex;
    background-color: rgb(234, 217, 217);
    padding: 20px;
    justify-content: space-evenly;
}

.corner1{
    border-top-left-radius: 0.7rem;
}
.corner2{
    border-top-right-radius: 0.7rem;
}
.corner3{
    border-bottom-left-radius: 0.7rem;
}
.corner4{
    border-bottom-right-radius: 0.7rem;
}

.box{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-size: 0px;
}

h1{
    padding: 20px;
    font-size: 4rem;
}
.greet{
    margin-right: 0.4rem;
    width: 4rem;
    vertical-align:sub;
    
}
.whoseturn{
    display: block;
    font-size: 2rem;
    color: blueviolet;
}
.whose-choosed{
    font-size: 2rem;
    color: blueviolet;
}

.message-box{
    display: flex;
}

div{
    text-align: center;
    position: relative;
}

.start{
    display: flex;
    margin-top: 20px;
}

.dashboard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: aliceblue;
    border: 10px;
    border-radius: 0.7rem;
    min-width: 15vw;
}

.board{
    background-color: rgb(69, 36, 3);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    margin-left: 1vw;
    /* max-height: 95vh; */
    min-height: 35vh;
    min-width: 60vw;
    /* max-width: 70vw; */
    padding: 2vw;
    border-radius: 1.3rem;
}
.chooseTurn{
    width: 10rem;
    border: 0.7rem solid rgb(65, 36, 36);
    border-radius: 1.5rem;
    margin: 10px;
    cursor: pointer;
}
.chooseBox{
    justify-self: flex-end;
}
.turn,.icon{
    width:5.3rem;
}
.trophy{
    width: 8rem;
}
#arrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
#btn-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.white-won,.black-won,.start-img{
    width: 8rem;
    padding-bottom: 5px;
}
.won-message-img{
    height: 3rem;
    /* vertical-align: text-top; */
    /* vertical-align:baseline; */
    /* vertical-align: bottom; */
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}
.fight{
    width: 6rem;
}


.white-square{
    background-color: rgb(233, 202, 109);
}

.black-square{
    background-color: rgb(165, 79, 42);
}

.Wrook,.Bbishop,.Brook,.Wking,.Bking{
    width: 3.7rem;
    cursor: pointer;
}
.Wpawn,.Bpawn{
    width: 3.5rem;
    cursor: pointer;
}

.Bknight{
    width:4.5rem;
    cursor: pointer;
}

.Wknight,.Wbishop,.Bqueen{
    width: 4.2rem;
    cursor: pointer;
}

.Wqueen{
    width: 4.5rem;
    cursor: pointer;
}


.clicked{
    background-color: chartreuse;
    cursor: pointer;
}
#undo,#redo{
    width: 100px;
}
#reset-to-initial{
    height: 70px;
}
#review{
    padding: 0.6rem 0.9rem;
    color: white;
    border: none;
    border-radius: 0.7rem;
    background-color: rgb(213, 35, 100);
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    cursor:pointer;
}
#save{
    padding: 0.6rem 0.9rem;
    color: white;
    border: none;
    border-radius: 0.7rem;
    background-color: rgb(6, 155, 6);
    margin-bottom: 0.5rem;
    cursor:pointer;
}

@media only screen and (width<=1100px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .board{
        background-color: rgb(69, 36, 3);
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(8,1fr);
        min-width: 30vh;
        overflow-y:scroll;
        padding: none;
        border-radius: 1.3rem;
        overflow: scroll;
    }
}

@media only screen and (width<=665px){
    #undo,#redo{
        width: 90px;;
    }
    #reset-to-initial{
        height: 65px;
    }
    h1{
        padding: 20px;
        font-size: 3rem;
    }
    .whoseturn,.whose-choosed{
        font-size: 2rem;
    }
    .board{
        min-height: 20vh;
        min-width: 680;
        overflow:auto;
    }
    .Wrook,.Bbishop,.Brook,.Wking,.Bking{
        width: 2.5rem;
    }
    .Wpawn,.Bpawn{
        width: 2.5rem;
    }
    
    .Bknight{
        width:3rem;
    }
    
    .Wknight,.Wbishop,.Bqueen{
        width: 2.5rem;
    }
    
    .Wqueen{
        width: 2.5rem;
    }
    .chooseTurn{
        width: 7rem;
        border: 0.5rem solid rgb(65, 36, 36);
        border-radius: 1rem;
        margin: 10px;
    }
}
@media only screen and (width<480px){
    #undo,#redo{
        width: 80px;;
    }
    #reset-to-initial{
        height: 55px;
    }
    h1{
        padding: 20px;
        font-size: 3rem;
    }
    .whoseturn,.whose-choosed{
        font-size: 1.5rem;
    }
    .board{
        min-height: 20vh;
        min-width: 680;
        overflow:auto;
    }
    .Wrook,.Bbishop,.Brook,.Wking,.Bking{
        width: 1.8rem;
    }
    .Wpawn,.Bpawn{
        width: 1.8rem;
    }
    
    .Bknight{
        width: 2.1rem;
    }
    
    .Wknight,.Wbishop,.Bqueen{
        width: 1.8rem;
    }
    
    .Wqueen{
        width: 1.8rem;
    }
    .chooseTurn{
        width: 5.5rem;
    }
    .fight{
        width: 3.5rem;
    }
    .start-img{
        width:6rem;
    }
}